<h1><strong>All builds</strong></h1>
<div class="cards card-wrapper">
  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>

  <div class="builds-card-container">
    <div class="d-flex justify-content-between">
      <div>
        <div class="build-title">
          <p><strong>Koala build</strong></p>
        </div>
        <div class="build-price">
          <p><strong>$2500</strong></p>
        </div>
      </div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>

    <div class="build-text">
      <p><strong>Capacity:</strong> 20Ah   /  <strong>Appliances:</strong> 3</p>
    </div>

    <div class="d-flex justify-content-center container-trio">
      <%= image_tag("trio_icons.png", :alt => "icons", style: 'width: 70%') %>
    </div>
  </div>
</div>
