<div class="page-headers d-flex justify-content-between">
  <h1><%= @build.name.capitalize %></h1>
  <%# use '&' to sort out the case of not logged in. Alternatively wrap code in an 'if' to check whether logged in %>
  <% bookmark = current_user&.bookmarks&.find_by(build: @build) %>
  <% if bookmark.present? %>
    <p class="bookmarked">Added to bookmarks ♥</p>
  <% else %>
    <%# don't forget to specify 'method: :post' - the route uses POST %>
    <%= link_to "Add to bookmarks ♡", build_bookmarks_path(@build), method: :post, class: "bookmark-text" %>
  <% end %>
</div>
<div class="card-wrapper-new mb-3">
  <div>
    <h2 class="mb-3">Appliances</h2>
    <div class="card-space card-grid">
      <% @build.appliances.each_with_index do |appliance, index|%>
        <%= render "shared/appliance_card_redesigned", appliance: appliance %>
      <% end %>
    </div>

    <h2 class="mt-5 mb-3">Components</h2>
    <div class="card-space card-grid">
      <div>
        <%= render "shared/battery_card_redesigned", battery: @build.battery %>
      </div>
      <div>
        <%= render "shared/solar_panel_card_redesigned", solar_panel: @build.solar_panel %>
      </div>
    </div>
  </div>
  <div class="sidebar-overview">
    <%= render "shared/overview_card" %>
  </div>
</div>
