<div class="page-headers">
  <h1><%= @build.name.capitalize %></h1>
</div>
<div class="card-wrapper mb-3 card-grid">
  <div>
    <h2>Appliances</h2>
    <div class="card-space">
      <% @build.appliances.each_with_index do |appliance, index|%>
        <%= render "shared/appliance_card_redesigned", appliance: appliance %>
      <% end %>
    </div>

    <h2>Components</h2>
    <div class="d-flex justify-content-evenly">
      <div>
        <h2 class="text-center mt-3 mb-3">Battery</h2>
        <%= render "shared/battery_card_redesigned", build: @build %>
      </div>
      <div>
        <h2 class="text-center mt-3 mb-3">Solar Panel</h2>
        <%= render "shared/solar_panel_card_redesigned", build: @build %>
      </div>
    </div>
  </div>
  <div>
    <%= render "shared/overview_card" %>
  </div>
</div>
