<div class="page-headers">
  <h1><%= @build.name.capitalize %></h1>
</div>
<div class="card-wrapper-new mb-3">
  <div>
    <h2 class="mb-3">Appliances</h2>
    <div class="card-space card-grid">
      <% @build.appliances.each_with_index do |appliance, index|%>
        <%= render "shared/appliance_card_redesigned", appliance: appliance %>
      <% end %>
    </div>

    <h2 class="mt-5 mb-3">Components</h2>
    <div class="card-space card-grid">
      <div>
        <%= render "shared/battery_card_redesigned", battery: @build.battery %>
      </div>
      <div>
        <%= render "shared/solar_panel_card_redesigned", solar_panel: @build.solar_panel %>
      </div>
    </div>
  </div>
  <div class="sidebar-overview">
    <%= render "shared/overview_card" %>
  </div>
</div>
