      <%= link_to build_path(build), class: "text-decoration-none text-black", target: :_blank do %>
        <div class="builds-card-container-new card-shadow box-relative">
          <div class="d-flex justify-content-between">
            <div>
              <div class="build-title-new">
                <p class="mb-1"><strong><%= build.name %></strong></p>
              </div>
            </div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-large", alt: "avatar-large" %>
          </div>
          <p class="appliances-text mb-2">Appliances</p>
          <div class="d-flex">
          <% appliances.each do |appliance| %>
            <% if appliance.kind == "inverter" %>
              <div class="pill-container me-1">
                <span class="pill-font"> 🔌 inverter</span>
              </div>
            <% elsif appliance.kind == "lights"%>
              <div class="pill-container me-1">
                <span class="pill-font"> 💡 lights</span>
              </div>
             <% elsif appliance.kind == "fridge"%>
              <div class="pill-container me-1">
                <span class="pill-font"> 🧊 fridge</span>
              </div>
             <% elsif appliance.kind == "fan"%>
              <div class="pill-container me-1">
                <span class="pill-font"> 💨 fan</span>
              </div>
             <% elsif appliance.kind == "phone_charger"%>
              <div class="pill-container me-1">
                <span class="pill-font"> ⚡ phone charger</span>
              </div>
             <% elsif appliance.kind == "water_pump"%>
              <div class="pill-container me-1">
                <span class="pill-font"> 💧 water pump</span>
              </div>
            <% end %>
          <% end %>
          </div>
          <div class="appliances-text d-flex border-top card-bottom-boxes-position w-100">
            <div class="d-flex flex-column w-100 right-border ps-3">
              <p class="mb-2 pt-2">Capacity</p>
              <p><strong><%= build.total_amp_hours %> Ah</strong></p>
            </div>
            <div class="d-flex flex-column w-100 ps-3">
              <p class="mb-2 pt-2">Appliances</p>
              <p><%= build.build_appliances.length %></p>
            </div>
          </div>
        </div>
      <% end %>
