
    <div class="sidebar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="sidebar-logo">
        <%= image_tag "logo.png", alt: "FusioVan Logo", height: 120 %>
        </div>

      <% end %>
      <h2 class= "text-justify">FUSIOVAN</h2>
    </div>


    <ul class="sidebar-links">
    <li>
      <span class="material-symbols-outlined">home</span>
      <%= link_to "My Dashboard", dashboard_path, class: "d-block text-decoration-none text-start" %>
    </li>
    <li>
      <span class="material-symbols-outlined">explore</span>
      <%= link_to "Explore Builds", builds_path, class: "d-block text-decoration-none text-start" %>
    </li>
    <li>
      <span class="material-symbols-outlined">mode_fan</span>
      <%= link_to "Appliances", appliances_path, class: "d-block text-decoration-none text-start" %>
    </li>
    <li>
      <span class="material-symbols-outlined">dashboard</span>
      <%= link_to "Components", components_path, class: "d-block text-decoration-none text-start" %>
    </li>
    <li>
      <span class="material-symbols-outlined">build_circle</span>
      <%= link_to "Create a Build", new_build_path, class: "d-block text-decoration-none text-start" %>
    </li>
    </ul>

    <% if user_signed_in? %>
    <ul class="m-3 navbar-user-action">
      <li>
      <span class="material-symbols-outlined d-block text-decoration-none text-black text-align-center bottom-align-text">logout</span>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "d-block text-decoration-none text-align-center bottom-align-text" %>
      </li>
    </ul>
    <% else %>
      <div class="m-3 navbar-user-action">
        <%= link_to "Login", new_user_session_path, class: "d-block text-decoration-none text-black text-align-center bottom-align-text"%>
        <%= link_to "Sign up", new_user_registration_path, class: " d-block text-decoration-none text-black text-align-center bottom-align-text" %>
      </div>
    <% end %>
