

    <div class="sidebar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="sidebar-logo">
        </div>

      <% end %>
      <h2 class= "text-justify">Fusiovan</h2>
    </div>

    <br>
    <ul class="sidebar-links">
    <li><%= link_to "My Dashboard", dashboard_path, class: "d-block text-decoration-none text-black text-start" %></li>
    <li><%= link_to "Explore Builds", builds_path, class: "d-block text-decoration-none text-black text-start" %></li>
    <li><%= link_to "Appliances", appliances_path, class: "d-block text-decoration-none text-black text-start" %></li>
    <li><%= link_to "Components", components_path, class: "d-block text-decoration-none text-black text-start" %></li>
    </ul>


    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "d-block text-decoration-none text-black text-align-center bottom-align-text" %>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
