<div class="builds-card-container-new card-shadow box-relative">
  <div class="d-flex justify-content-between">
    <div>
      <div class="build-title-new">
        <p class="mb-1"><%= build.solar_panel.make %></p>
      </div>
    </div>
    <%= image_tag "solar_panel_color.png", class: "avatar-large", alt: "avatar-large" %>
  </div>
  <p class="appliances-text mb-2"><%= build.solar_panel.model %></p>
  <div class="d-flex mt-5">
    <span class="material-symbols-outlined">open_in_new</span>
    <a href="www.duduckgo.com" class="appliances-text" style="text-decoration: none">Go to product page</a>
  </div>
  <div class="appliances-text d-flex border-top card-bottom-boxes-position w-100">
    <div class="d-flex flex-column w-100 right-border ps-3">
      <p class="mb-2 pt-2">Volts</p>
      <p><strong><%= build.solar_panel.voltage %> V</strong></p>
    </div>
    <div class="d-flex flex-column w-100 ps-3 right-border">
      <p class="mb-2 pt-2">Watts</p>
      <p><%= build.solar_panel.watts %> W</p>
    </div>
    <div class="d-flex flex-column w-100 ps-3">
      <p class="mb-2 pt-2">Price</p>
      <p>$ <%= build.solar_panel.price %></p>
    </div>
  </div>
</div>
