<div class="header">
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <%#= video_tag "Into_the_wild.mp4", autoplay: "autoplay", muted: "muted", loop: "loop" %>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">FusioVan</h1>
        <p class="lead mb-0">Dream. Design. Build.</p>
        <%= link_to "Get started", new_user_registration_path, class: "btn btn-flat mt-5" %>
      </div>
    </div>
  </div>
</div>
<div class="mh-100" style="height: 150px"></div>
<div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-7">
    <div id="white_rectangle">
      <h2>Design, optimise and share</h2>
    </div>
  </div>
  <div class="col-lg-5"></div>
  <div class="col-lg-7">
    <div id="blue_rectangle">
      <h2>Your custom van</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="mh-100" style="height: 80px"></div>
    <div class="p-center">
    Fusiovan makes building your custom van easy. Mix and match a wide variety of appliances and components  to get the perfect build.
    </div>
  <div class="mh-100" style="height: 50px"></div>
  <div class="row">
    <div class="col-lg-6 d-flex justify-content-center">
      <%= link_to "Create a build", new_build_path, class: "btn btn-flat mt-5" %>
    </div>
    <div class="col-lg-6 d-flex justify-content-center">
      <%= link_to "Explore all builds", builds_path, class: "btn btn-flat mt-5" %>
    </div>
    <div class="mh-100" style="height: 130px"></div>
    <h2>Designing a van is a whole adventure</h2>
    <div class="mh-100" style="height: 100px"></div>
    <div class="mh-100 d-flex justify-content-center align-items-center" style="height: 300px; background-color: #e6e2eb">
      <h2>Placeholder for the iceberg picture</h2>
    </div>
    <div class="mh-100" style="height: 130px"></div>
    <h2>Build your van in 3 simple steps</h2>
    <div class="mh-100" style="height: 100px"></div>
    <div class="col-lg-4">
      <div class="card-step text-center">
        <i class="fas fa-user" style="font-size: 130px; color: #142970;"></i>
      </div>
      <div class="row margin-left-large">
        <div class="col-lg-2"></div>
        <div class="col-lg-5 text-end mt-3" style="font-size: 20px">
          <p>Create your user profile<p>
        </div>
        <div class="col-lg-3 text-start align-content-top" style="font-size: 50px">
          1
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-step text-center">
        <i class="fas fa-solar-panel" style="font-size: 130px; color: #142970;" ></i>
      </div>
      <div class="row margin-left-large">
        <div class="col-lg-2"></div>
        <div class="col-lg-5 text-end mt-3" style="font-size: 20px">
          <p>Choose your appliances and components<p>
        </div>
        <div class="col-lg-3 text-start align-content-top" style="font-size: 50px">
          2
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-step text-center">
        <i class="fas fa-cogs" style="font-size: 130px; color: #142970;"></i>
      </div>
      <div class="row margin-left-large">
        <div class="col-lg-2"></div>
        <div class="col-lg-5 text-end mt-3" style="font-size: 20px">
          <p>Use the build generator to customize your van<p>
        </div>
        <div class="col-lg-3 text-start align-content-top" style="font-size: 50px">
          3
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
  <div class="mh-100" style="height: 130px"></div>
  <h2>Explore the world’s first custom van build designer</h2>
  <div class="mh-100" style="height: 100px"></div>
    <div class="row d-flex justify-content-around">
      <div class="card-strength d-flex align-items-center">
        <div class="row">
          <div class="col-lg-4">
            <i class="fas fa-bolt padding-icon" style="font-size: 150px; color: #142970;" ></i>
          </div>
          <div class="col-lg-8 d-flex align-items-center">
            <h3>Ensure <strong>safety</strong> of your build's <strong>electric system</strong></h3>
          </div>
        </div>
      </div>
      <div class="card-strength d-flex align-items-center">
        <div class="row">
          <div class="col-lg-4">
            <i class="fas fa-palette padding-icon" style="font-size: 130px; color: #142970;"></i>
          </div>
          <div class="col-lg-8 d-flex align-items-center">
            <h3><strong>Customise your build</strong> aligning <strong>automatically</strong> electric capability and consumption</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="mh-100" style="height: 50px"></div>
    <div class="row d-flex justify-content-around">
      <div class="card-strength d-flex align-items-center">
        <div class="row">
          <div class="col-lg-4">
            <i class="fas fa-solar-panel padding-icon" style="font-size: 130px; color: #142970;" ></i>
          </div>
          <div class="col-lg-8 d-flex align-items-center">
            <h3><strong>Choose</strong> from a wide <strong>range of proposed parts</strong> and products <strong>matching your build’s</strong> requirements</h3>
          </div>
        </div>
      </div>
      <div class="card-strength d-flex align-items-center">
        <div class="row">
          <div class="col-lg-4">
            <i class="far fa-comments padding-icon" style="font-size: 130px; color: #142970;"></i>
          </div>
          <div class="col-lg-8 d-flex align-items-center">
            <h3><strong>Benefit</strong> from the <strong>input</strong> of our <strong>vibrant community</strong> of van enthusiasts</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="mh-100" style="height: 130px"></div>
    <h2>Van hippies love us</h2>
    <div class="mh-100" style="height: 60px"></div>
    <div class="cards-new mb-5">
      <% @builds.each do |build| %>
        <%= link_to build_path(build), class: "text-decoration-none text-black", target: :_blank do %>
          <div class="builds-card-container-new card-shadow">
            <div class="d-flex justify-content-between">
              <div>
                <div class="build-title-new">
                  <p><strong><%= build.name %></strong></p>
                </div>
                <div class="build-price-new">
                  <p><strong>$<%= build.total_price %></strong></p>
                </div>
              </div>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-large", alt: "avatar-large" %>
            </div>

            <div class="build-text-new">
              <p><strong>Capacity: </strong> <%= build.total_amp_hours %>Ah   /  <strong>Appliances: </strong><%= build.build_appliances.length %></p>
            </div>

            <div class="trio-line">
              <div class="d-flex justify-content-center container-trio-new">
                <%= image_tag("trio_2.png", :alt => "icons", style: 'width: 75%') %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
