<div class="card-wrapper">

<%# !!only to see what it looks like, still need to revise variables!! %>

<%# display appliance-card %>
<%= render "shared/appliance_card_redesigned", appliance: Appliance.first %>

<%# display battery-card %>
<%= render "shared/battery_card_redesigned", battery: battery %>

<%# display build-card %>
<%= render "shared/build_card", build: Build.first, appliances: Build.first.appliances %>

<%# display flashes %>
<%= render "shared/flashes" %>

<%# display navbar %>
<%= render "shared/navbar" %>

<%# display sidebar %>
<%= render "shared/sidebar" %>

<%# display solar panel card %>
<%= render "shared/solar_panel_card_redesigned", solar_panel: solar_panel %>

</div>
